body{
    margin: 0;
    padding: 0;
    background: #546077;
    /*background: linear-gradient(to right, #B9CAF0, #25324D); */
    min-height: 100vh;
    display: flex;
}/* Body */


.container__login{
    display: block;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 700px;
    height: 600px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 2rem;
    transition: ease 0.05;
    margin: 15vb auto;
}/* Config para el menu de sesión */
.container__login:hover{
    background-color: rgb(255, 255, 255, 0.1);
    border: 2px solid black;
}

/* ---------------------------------------------------------------------------- */
.container__login_form{
    display: flex;
    justify-content: center;
    width: 650px;
    height: 350px;
    margin: auto;
}/*  Estilos del contenedor del formualrio de sesión */
.container__input{
    display: flex;
    justify-content: center;
    align-items: center;
}/* Estilos de los contenedores de los inputs*/
.container__input_styles{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border-radius: 2rem;
    text-align: center;
    margin: 10px 180px 20px 180px;
    border: white;
    outline: none; 
    background-color: rgb(255, 255, 255, 0.1);
}
.container__input_styles:hover{
    transform: scale(1.1);
    background-color: rgb(230, 230, 230);
}/* Estilos de los inputs */
.container__btn_login{
    display: flex;
    justify-content: center;
    margin: 1vh auto;
}
/* ---------------------------------------------------------------------------- */
.container__recuperar_contraseña{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 250px;
    height: 100px;
    margin: 5px auto 5px;
}
.btn__recuperar_contraseña{
    margin: 20px 10px 20px 10px;
    transition: transform 0.5 ease;
}
.btn__recuperar_contraseña a{
    color: inherit;
    text-decoration: none;
}
.btn__recuperar_contraseña:hover{
    color: #173985;
    text-decoration: underline;
    transform: scale(1.1);
    cursor: pointer;
}
/* ---------------------------------------------------------------------------- */
.container__nuevo_registro{
    display: flex;
    justify-content: center;
    margin: 1vh auto;
}
.container__btn_nuevo_registro{
    display: flex;
    justify-content: center;
}
/* ---------------------------------------------------------------------------- */
.boton{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 2rem;
    text-align: center;
    width: 150px;
    height: 50px;
    margin: auto 180px;
    background-color: #DBA62A;
    justify-content: center;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.5 ease-in-out;
}
.boton:hover{
    border: 2px solid black;
    transform: scale(1.2);
    background-color: #8F763B;
}/* Estilos de los botones */

#Logo{
    display: flex;
    justify-content: center;
    margin: 20px auto 10px;
    width: 150px;
}
/* ---------------------------------------------------------------------------- */
.styles__footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}