body{
    margin: 0;
    padding: 0;
    background: #546077;
    /*background: linear-gradient(to right, #B9CAF0, #25324D); */
    min-height: 100vh;
}

#box-perfil{
    margin: 100px auto;
    border: 3px solid black;
    width: 90%;
    height: 600px;
    display: block;
    justify-content: center;
    text-align: center;
}

#foto-perfil{
    width: 250px;
    border-radius: 5rem;
    margin: 40px auto;
}


#box-nombre-user{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin: 40px auto;
}

#box-nav-bar-perfil{
    margin: 50px auto;
}
.nav-bar-perfil{
    font-size: 50px;
    border-radius: 2rem;
    display: inline;
    cursor: pointer;
    padding: 20px 35px;
    margin: 1px 30px;
}

.nav-bar-perfil:hover{
    background-color: #a6aab3;
}

#pie-pag{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin: 20px auto;
    text-align: center;
}