body{
    margin: 0;
    padding: 0;
    background: #546077;
    display: flex;
}

.titulos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin: 30px 10px 30px;
    text-align: center;
}

.container__perfil{
    display: flex;
    justify-content: center;
    margin: 20vh auto;
    width: 90%;
    height: 40vh;
    background-color: #272c36;
    border: white solid 2px;
}

.container__foto_perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius:  1rem;
}
.container__foto_perfil img{
    width: 50%;
}

.container__info_contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.container__btns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 50px;
    color: #8F763B;
} /* Contenedor de botones */

.container__btn_publicaciones{
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.container__btn_publicaciones:hover{
    background-color: #546077;
    border-radius: 1rem;
    color: #DBA62A;
}
.btn__publicaiones{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}/* Estilos de boton publicaciones */

.container__btn_nueva_publicacion{
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.container__btn_nueva_publicacion:hover{
    background-color: #546077;
    border-radius: 1rem;
    color: #DBA62A;
}
.btn__nueva_publicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}/* Estilos de boton nueva publicacion */

.container__btn_contacto{
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.container__btn_contacto:hover{
    background-color: #546077;
    border-radius: 1rem;
    color: #DBA62A;
}
.btn__contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}/* Estilos de boton contacto */