body{
    margin: 0;
    padding: 0;
    background: #546077;
    min-height: 100vh;
    /* display: flex; */
}

.cabecera{
    width: 100%;
    height: 10vh;
    background-color: #272c36;
    position: fixed;
    border-bottom: #ffffff solid 1px;
    z-index: 600;
}

.container__logo{
    width: 14vh;
    display: flex;
    justify-content: left;
    margin: 15px auto auto 50px;
}

.logo__{
    width: 14vh;
/*     display: flex;
    justify-content: center; */
}
#box_content{
    display: flex;
    justify-content: center;    
}

#box-1{
    border: 2px solid rgb(12, 11, 11, 0.3);
    width: 700px;
    height: 400px;
    border-radius: 2rem;
    margin: 16vh auto;
    margin-bottom: 375px;
    background-color: rgb(255, 255, 255, 0.3);
}
#box-1:hover{
    background-color: rgb(255, 255, 255, 0.1);
    border: 2px solid black;
}
/*Estos son las configuraciones del formulario para la recuperación de contraseña*/

#T1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin: 30px 10px 30px;
    text-align: center;
}
#T2{
    margin: 30px auto 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}
#Correo-celular{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 20px;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 30px;
    border-radius: 1rem;
    border: none;
    outline: none;
    background-color:rgb(255, 255, 255, 0.1);
}
#Correo-celular:hover{
    /*border: 2px solid black;*/
    transform: scale(1.1);
    background-color: rgb(230, 230, 230);

}

#buscar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 1rem;
    border: none;
    background-color: #DBA62A;
    width: 150px;
    height: 50px;
}
#buscar:hover{
    border: 2px solid black;
    transform: scale(1.1);
    background-color: #8F763B;
    border: 2px solid black;
}
/*Acá empiezan los estilos de el formulario de registro*/

#box-2{
    border: 2px solid rgb(12, 11, 11, 0.3);
    width: 700px;
    height: 800px;
    border-radius: 2rem;
    margin: 20px auto;
    margin-bottom: 300px;
    background-color: rgb(255, 255, 255, 0.3);
}
#box-2:hover{
    background-color: rgb(255, 255, 255, 0.1);
    border: 2px solid black;
}


.Form_regis{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 20px;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 30px;
    border-radius: 1rem;
    border: none;
    outline: none;
    background-color:rgb(255, 255, 255, 0.1);
}

.Form_regis:hover{
    transform: scale(1.1);
    background-color: rgb(230, 230, 230);
}

#Registrarte{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 1rem;
    border: none;
    background-color: #DBA62A;
    width: 150px;
    height: 50px;
}

#Registrarte:hover{
    border: 2px solid black;
    transform: scale(1.1);
    background-color: #8F763B;
    border: 2px solid black;
}

#pie-pag{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}

/*Esta parte de código corresponde a el formulario de nuevas ventas*/

#box-form-venta{
    margin-top: 1000px;
    border: 2px solid rgb(12, 11, 11, 0.3);
    width: 700px;
    height: 90%;
    border-radius: 2rem;
    margin: 20px auto;
    /*margin-bottom: 375px;*/
    background-color: rgb(255, 255, 255, 0.3);
}
#box-form-venta:hover{
    background-color: rgb(255, 255, 255, 0.1);
    border: 2px solid black;
}

.form-venta{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 20px;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 30px;
    border-radius: 1rem;
    border: none;
    outline: none;
    background-color:rgb(255, 255, 255, 0.1);
}

.form-venta:hover{
    transform: scale(1.1);
    background-color: rgb(230, 230, 230);
}

#Subir{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 1rem;
    border: none;
    background-color: #DBA62A;
    width: 150px;
    height: 50px;
}

#Subir:hover{
    border: 2px solid black;
    transform: scale(1.1);
    background-color: #8F763B;
    border: 2px solid black;
}

.label-ventas{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}