body{
    margin: 0;
    padding: 0;
    background: #546077;
    display: flex;
}

.titulos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin: 30px 10px 30px;
    text-align: center;
}

.container__perfil{
    display: flex;
    justify-content: center;
    margin: 20vh auto;
    width: 90%;
    height: 40vh;
    background-color: #272c36;
    border: white solid 2px;
}

.container__foto_perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.container__foto_perfil img{
    width: 50%;
}

.container__info_contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.container__btns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 50px;
    color: #8F763B;
    cursor: pointer;
}

.btn__publicaiones{
    display: flex;
    justify-content: center;
    align-items: center;
}