body{
    margin: 0;
    padding: 0;
    background: #546077;
    display: flex;
}

a{
    text-decoration: none;
}
.nav__bar_cabecera{
    width: 100%;
    height: 15vh;
    background-color: #272c36;
    position: fixed;
    border-bottom: #ffffff solid 1px;
    z-index: 600;
} /*Estilos para el contenedor de la cabecera*/

.nav__bar_btns{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    color: #8F763B;
    margin-top: 4vh;
} /* Estilos generales para los botones */

.btn__mid{
    width: 400px;
    display: flex;
    justify-content: space-between;
} /* Estilos generales para los botones mid */

.btn__buscar{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.btn__buscar:hover{
    color: #DBA62A;
    background-color: #546077;
    /* border: #546077 solid 1px; */
    border-radius: 1rem;
}

.btn__inicio{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.btn__inicio:hover{
    color: #DBA62A;
    background-color: #546077;
    /* border: #546077 solid 1px; */
    border-radius: 1rem;
}

.btn__perfil{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}


.btn__perfil:hover{
    color: #DBA62A;
    background-color: #546077;
    /* border: #546077 solid 1px; */
    border-radius: 1rem;
}

.btn__right{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
}/* Estilos para botón derecho */

.btn__config{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 10px 200px auto auto;
    padding: 10px;
    cursor: pointer;
}

.btn__config:hover{
    color: #DBA62A;
    background-color: #546077;
    /* border: #546077 solid 1px; */
    border-radius: 1rem;
}

.btn__left{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
}/* Estilos para botón izquierdo */

.btn__filtros{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 10px auto auto 200px;
    padding: 10px;
    cursor: pointer;
}

.btn__filtros:hover{
    color: #DBA62A;
    background-color: #546077;
    /* border: #546077 solid 1px; */
    border-radius: 1rem;
}

.nav__bar_filtros{
    width: 35vh;
    height: 85vh;
    background-color: #272c36;
    margin-top: 15vh;
    border-right: 1px solid white;
    position: fixed;
    z-index: 500;
    display: none;
} /* Estilos para barra de filtros */

.show__bar_filtros{
    display: block;
}

.nav__bar_opciones{
    width: 35vh;
    height: 85vh;
    background-color: #272c36;
    margin-top: 15vh;
    border-left: 1px solid white;
    position: fixed;
    z-index: 500;
    right: 0;
    display: none;
}/* Estilos para barra de configuracion */

.show__bar_opciones{
    display: block;
}

.btn__list_categorias{
    width: 25vh;
    height: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin: 2vh auto 1vh auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    border-radius: 1rem;
    background-color: #546077;
    text-decoration: none;
    appearance: none;
    cursor: pointer;
}/* Estilos para los botones/listas de los filtros */

.btn__list_categorias:hover{
    background-color: #272c36;

}

.encabezado__list_categorias{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}/* Encabezados para los titulos de las categorías */

.container__cierre_sesion{
    display: flex;
    justify-content: center;
    margin: 2vh auto 1vh auto;

}
a{
    text-decoration: none;
    all: unset;
}
.btn__cierre_sesion{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    /* text-decoration: none; */
    text-align: center;
    color: #ffffff;
}

.btn__cierre_sesion:hover{
    color: #DBA62A;
    background-color: #546077;
    border-radius: 1rem;
    width: 100%;
}


/* Contenedor para las publicaciones */
.container__publicaciones{
    width: 100vh;
    height: 100%;
    /* background-color: #272c36; */
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
}

.container__publicacion_individual{
    width: 15vh;
    height: 30vh;
    background-color: #272c36;
    border: #ffffff solid 1px;
    margin: 5px;
    flex-grow: 5;
    flex-basis: 300px;
    display: flex;
    justify-content: space-around;
}

/* Estilos para la card de las publicaciones  */
.card__info_publicacion{
    display: flex;
    /* border: 2px solid white; */
    width: 50vh;
}

.card__img_publicacion{
    display: flex;
    width: 50vh;
    margin: auto;
    justify-content: center;
}
.card__img_publicacion img{
    width: 30%;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 1rem;
}

.atributos__publicacion{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: aliceblue;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.atributos__vendedor{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: aliceblue;
}